.half-width img {
    width: 60%;
}
.half-width h1 {
    font-size: 70px;
}
h2 {
    text-align: center;
    font-size: 60px;
}
.mission-color {
    color: #7c6bea;
}
.stay-mission-border {
    border-left: 5px solid;
    border-image: linear-gradient(#4a2356,#ff725c);
    border-image-slice: 1;
}
.exp-btn {
    text-decoration: none;
    padding: 15px 50px;
    color: white;
    background-color: #2792a5;
    border-radius: 5px;
}
.top-section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 13%;
    padding-top: 5%;
}
#mission-box {
   background-color: #2792a5;
   margin-left: 13%; 
   padding-left: 4%;
   border-radius: 10px;
}
#vission-box {
    background-color: #7c6bea;
    margin-left: 13%;
    padding-left: 4%;
    border-radius: 10px;
}
#goals-box {
    background-color: rgb(67, 89, 90);
    margin-left: 13%;
    margin-right: 4%;
    padding-left: 4%;
    border-radius: 10px; 
}
#image-align {
    margin-right: 7%;
}
.middle-section {
    display: flex;
}
.coding-develop-half-width img {
    width: 100%;
}
.coding-develop-half-width {
    margin-left: 13%;
    margin-top: 5%;
}
.block-inline {
    display: block;
}
.develop-align {
    text-align: left;
}
.middle-section-background-img {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size:18%;
    background-position: bottom 140px left 100px;
}
.know-our-global-background-image {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 18%;
    background-position: right bottom 10%;
}
.text-size {
    width: 20%;
}
.footer {
    background-color: #363607;
    color: whitesmoke; 
    padding-top: 1px;
}
footer {
    text-align: center;
}